.btn-red {
    background-color: #EE2C2C;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    width: 130px;
    text-align: center;
}